@charset "UTF-8";
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #343a40;
}

header .navbar {
  padding: 10px 0;
}
header .navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
header .navbar .navbar-brand #logoar:hover {
  transform: scale(1.1);
}
header .navbar .nav-link {
  color: #ffffff !important;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}
header .navbar .nav-link:hover {
  color: #007bff !important;
}
header .navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #007bff;
  transition: width 0.3s ease-in-out;
}
header .navbar .nav-link:hover::after {
  width: 100%; /* Expande el subrayado al pasar el ratón */
}

.main h3 {
  font-size: 4.4rem;
  font-weight: 700;
  animation: moverDerecha 3s ease-out;
}
.main h3 strong {
  color: #007bff;
}
.main h6 {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1;
  border-bottom: 3px solid #007bff;
  width: 30%;
}
.main .bt1 {
  background-color: #007bff;
  color: white;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}
.main .bt2 {
  background-color: transparent;
  color: #007bff;
  outline: none;
  border: 1px solid #007bff;
  font-weight: bold;
  border-radius: 5px;
}
.main .bt1:hover {
  background-color: #0056b3;
  color: black;
  transition: 0.5s;
}
.main .bt2:hover {
  background-color: #0056b3;
  transition: 0.5s;
  color: white;
}
.main .perfil {
  position: absolute;
  border: 3px solid #007bff;
  width: auto;
  height: auto;
  border-radius: 10%;
  overflow: hidden;
  right: 430px;
  top: 16%;
  animation: moverIzquierda 1s ease-out;
}
.main .bi-github, .main .bi-linkedin, .main .bi-instagram {
  position: absolute;
  bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: slideUpAndGrow 2.4s ease;
}
.main .bi-github:hover, .main .bi-linkedin:hover, .main .bi-instagram:hover {
  transform: translateY(-5px);
  color: #007bff;
}
.main .bi-linkedin {
  right: 120px;
}
.main .bi-instagram {
  right: 200px;
}
.main .bi-github {
  right: 40px;
}

#aboutme .contenedor {
  border: 3px solid #007bff;
}
#aboutme span {
  color: #007bff;
}
#aboutme p {
  font-size: 1.3em;
}

#projects {
  padding: 60px 0;
}
#projects h2 span {
  line-height: 1;
  border-bottom: 3px solid #007bff;
  width: 30%;
}
#projects .card {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px #343a40;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 500px;
  max-width: 500px;
  margin: auto;
}
#projects .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px #cdcdcd;
}
#projects .card .carousel-inner img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects .card .card-body {
  padding: 20px;
  text-align: center;
}
#projects .card .card-body .card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 10px;
}
#projects .card .card-body .card-text {
  font-size: 1.1rem;
  color: #6c757d;
  margin-bottom: 15px;
}
#projects .card .card-body .btn {
  background-color: #007bff;
  color: #f8f9fa;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
#projects .card .card-body .btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

#skills h2 span {
  border-bottom: 3px solid #007bff;
}
#skills h5 {
  font-size: 1.5rem;
  font-weight: bold;
}
#skills .progress {
  background-color: #cdcdcd;
}
#skills .progress .progress-bar {
  font-weight: bold;
  line-height: 1.5rem;
  text-align: center;
}
#skills .d-flex {
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
#skills .d-flex:hover {
  transform: scale(1.1);
}
#skills .progress {
  height: 40px;
  border-radius: 10px;
}

#contact {
  background-color: #ffffff;
  padding: 60px 0;
}
#contact h2 {
  border-bottom: 3px solid #007bff;
}
#contact form {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
#contact form .form-label {
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
}
#contact form .form-control {
  border-radius: 8px;
  border: 1.5px solid #007bff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
#contact form .form-control:focus {
  border-color: #0062cc;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
#contact form .btn {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
#contact form .btn:hover {
  background-color: #0062cc;
  transform: scale(1.05);
}

footer {
  background-color: #212529;
  color: #ffffff;
  padding: 20px 0;
}
footer p {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 1252px) {
  .main .perfil {
    position: absolute;
    border: 3px solid #007bff;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    right: 100px;
    top: 26%;
  }
}
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.3rem;
  }
  .main h3 {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
  .bt1 {
    margin-top: 20px;
  }
  .bt1 {
    margin-bottom: 20px;
  }
  .main .perfil {
    position: absolute;
    border: 3px solid #007bff;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    right: 10px;
    top: 26%;
  }
  .card {
    max-width: 90%;
    margin: 20px auto;
    height: auto;
  }
  .bi-github, .bi-linkedin, .bi-instagram {
    right: 15px;
  }
  #projects .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #projects .card {
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .navbar {
    text-align: center;
  }
  .main h3 {
    font-size: 3rem;
  }
  .main h6 {
    font-size: 1rem;
    width: 38%;
  }
  .card {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .main .perfil {
    position: absolute;
    border: 3px solid #007bff;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    right: 15px;
    top: 34%;
  }
  .bi-github, .bi-linkedin, .bi-instagram {
    right: 10px;
    bottom: 20px;
  }
  .form-control {
    font-size: 1rem;
  }
  .btn {
    width: 100%;
  }
  #projects .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@keyframes moverIzquierda {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moverDerecha {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideUpAndGrow {
  0% {
    transform: translateY(50px) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */